{% extends 'rango/base.html' %}

{% block title %} Adicione uma nova Categoria {% endblock title %}

{% block body_block %}
<div class="hero-unit" xmlns="http://www.w3.org/1999/html">
    <h1>Adicione uma nova Categoria</h1>
    <br/>
    <div class="container">
        <form class="span6" id="categoria_form" method="post" action="/rango/adiciona_categoria/">
            {% csrf_token %}

            {% for oculto in form.hidden_fields %}
                {{ oculto }}
            {% endfor %}

            {% for campo in form.visible_fields %}
                {{ campo.errors }}
                {{ campo.help_text }}
                {{ campo }}
            {% endfor %}
            <br/>
            <button class="btn-primary" type="submit" name="submit">Criar Categoria</button>
        </form>
    </div>
</div>
{% endblock body_block %}
