{% extends 'rango/base.html' %}

{% block title %} Adicione uma nova Página para {{ categoria_nome }} {% endblock title %}

{% block body_block %}
<div class="hero-unit">
    <h1>Adicione uma nova Página para {{ categoria_nome }}</h1>
    <br/>
    {% if not categoria_nome_url %}
        <strong> A categoria especificada não existe!</strong>
    {% else %}
        <div class="container">
            <form class="span6" id="pagina_form" method="post" action="/rango/categoria/{{ categoria_nome_url }}/adiciona_pagina/">
                {% csrf_token %}

                {% for oculto in form.hidden_fields %}
                    {{ oculto }}
                {% endfor %}

                {% for campo in form.visible_fields %}
                    {{ campo.errors }}<br/>
                    {{ campo.help_text }}
                    {{ campo }}
                {% endfor %}
            <br/>
            <button class="btn-primary" type="submit" name="submit">Criar Página</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock body_block %}