<ul class="nav nav-list">
    {% if categoria_lista %}
        {% for categoria in categoria_lista %}
            <li><a href="/rango/categoria/{{ categoria.url }}">{{ categoria.nome }}</a></li>
        {% endfor %}
    {% else %}
        <strong>Sem categorias no momento.</strong>
{% endif %}
</ul>
