{% extends 'rango/base.html' %}

{% block title %} {{ categoria_nome }} {% endblock title %}

{% block body_block %}
<div class="hero-unit">
    <h1><a href="/rango/">Categoria</a>:{{ categoria_nome }}</h1>

    {% if categoria %}
        {% if  paginas %}
        <ul>
            {% for pagina in paginas %}
            <li>
                <a href="/rango/goto/?page_id={{pagina.id}}" target="_blank">{{ pagina.titulo }}</a>
                {% if pagina.visitas > 1 %}
                    - ({{ pagina.visitas }} visitas)
                {% elif pagina.visitas == 1 %}
                    - ({{ pagina.visitas}} visita)
                {% endif %}
            </li>
            {% endfor %}
        </ul>
            {% if user.is_authenticated %}
                <a href="/rango/categoria/{{ categoria_nome_url }}/adiciona_pagina">Adicione uma nova Página</a>
            {%  endif %}
        {% else %}
            <strong>Não há páginas nessa categoria.</strong>
        {% endif %}
    {% else %}
        <strong>A categoria {{ categoria_nome }} não existe!</strong>
    {%  endif %}
</div>
{% endblock body_block %}
