{% extends 'rango/base.html' %}

{% block body_block %}
<div class="hero-unit">
    <h1>Pronto para o Rango</h1>
    <p>Encontre, Adicione, Compartilhe and vote em links e recursos úteis.</p>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Top 5 Categorias</h2>
        {% if categoria_lista %}
        <ul>
            {% for categoria in categoria_lista_top %}
            <li>
                <a href="/rango/categoria/{{ categoria.url }}">{{ categoria.nome }}</a>
                {% if categoria.curtidas > 1 %}
                    - ({{ categoria.curtidas }} curtidas)
                {% elif categoria.curtidas == 1 %}
                    - ({{ categoria.curtidas }} curtida)
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>Sem categorias no momento.</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="span6">
        <h2>Top Five Pages</h2>
        {% if paginas %}
        <ul>
            {% for pagina in paginas %}
            <li>
                <a href="/rango/goto/?page_id={{pagina.id}}" target="_blank">{{ pagina.titulo }}</a>
                {% if pagina.visitas > 1 %}
                    - ({{ pagina.visitas }} visitas)
                {% elif pagina.visitas == 1 %}
                    - ({{ pagina.visitas}} visita)
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <strong>Sem páginas no momento.</strong>
        {% endif %}

    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}