{% extends 'rango/base.html' %}

{% block title %} Login {% endblock title %}

{% block body_block %}
<div class="hero-unit">
    <h1>Login em Rango</h1>

    <div class="container">
    <form class="form-signin span4" id="login_form" method="post" action="/rango/login/">
        <h3 class="form-signin-heading">Por favor, faça seu login</h3>
        {% csrf_token %}

        {% if detalhes_ruins %}
        <p><strong>Sua usuário e/ou senha estão incorretos!</strong></p>
        {% elif conta_desabilitada %}
        <p><strong>>Sua conta no Rango está desabilitada; não podemos fazer o login pra você!</strong></p>
        {% endif %}

        Nome do usuário: <input type="text" class="input-block-level" placeholder="Nome do usuário" name="username" value="" size="50" />
        <br />
        Senha: <input type="password" class="input-block-level" placeholder="Senha" name="password" value="" size="50" />
        <br />
        <button class="btn btn-primary" type="submit">Login</button>
    </form>

    </div>
    <!-- /container -->
</div>
{% endblock body_block %}
