{% extends 'rango/base.html' %}

{% block title %} Registre-se no Rango {% endblock title %}

{% block body_block %}
<div class="hero-unit">
        <h1>Registre-se no Rango</h1>
        <br/>
        <div class="container">
            {% if registrado %}
                Rango diz: <strong>obrigado por se registrar!</strong>
                <p><a href="/rango/login/">Faça seu login</a> quando você estiver pronto para o Rango.</p>
            {% else %}
                Rango diz: registre-se aqui! Clique <a href="/rango/">aqui</a> para voltar à Homepage.<br />

                <form class="form-signin span8" id="user_form" method="post" action="/rango/registro/"
                        enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">Faça o login aqui</h2>
                    {% for field in user_form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br />
                        {{ field }}<br />
                    {% endfor %}

                    {% for field in profile_form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br />
                        {{ field }}<br />
                    {% endfor %}
                    <br />
                    <input class="btn btn-primary" type="submit" name="submit" value="Registre-se" />
                </form>
            {% endif %}
        </div>
</div>
{% endblock body_block %}
