{% extends 'rango/base.html' %}

{% block title %} Página Restrita {% endblock title %}

{% block body_block %}
<div class="hero-unit">
    <h1>Página Restrita</h1>
    Olá {{ user.username }}! <br />
    Como você fez o login, pode ver esse texto!
</div>
{% endblock body_block %}