{% extends 'rango/base.html' %}

{% load static %}

{% block title %} Sobre o Rango {% endblock title %}

{% block body_block %}
<div class="hero-unit">
    <h1>Sobre o Rango:</h1>
     Você já visitou esse site <strong>{{ contador_visitas }} vez(es).</strong><br/>
     <strong>{{ boldmessage }}</strong> <br />
    <img src="{% static "rango_about.jpg" %}" alt="Imagem do Rango" />
</div>
{% endblock body_block %}